@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

*{
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --clr-gray-0:#ddd;
}

a{
    color: inherit;
}

h2{
    font-size: 2rem;
    font-weight: bold;
}

body{
    font-family: 'Lato', sans-serif;
}

#page > header {
    background-color: black;
    color: white;
    position: fixed;
    top:0;
    left:0;
    z-index: 999;
    width: 100%;
}

.nav-main{
    display: none;
}

.nav-main.active{
    display: block;
}

.nav-main a{
    width: 100%;
}

#page > header a{
    display: inline-block;
    padding: 16px 24px;
}

#page > header a:hover{
    background-color: var(--clr-gray-0);
    color: black;
}

.btn-hamburger{
    position: fixed;
    top: 16px;
    right: 16px;
}

.slider img{
    width: 100%;
    object-fit: cover;
}


main {
    padding-top: 44px;
    text-align: center;
}

main > section.info{
    margin: 30px;
}

main > section.info h2{
    padding: 20px;
}

main > section.info p{
    text-align: left;
    padding: 20px;
}

#page > footer {
   display: flex;
   justify-content: center;
}

.dark-ui{
    background-color: black;
    color: white;
}

section.info .band-list{
    padding: 30px;
}
section.info .band-list figcaption{
    padding: 30px;
    font-size: 16px;
    font-weight: bold;
}


section.tour-list ul{
 color: black;
 text-align: left;
 
}

section.tour-list li{
background-color: white;
margin-bottom: 16px;
}

section.tour-list li a{
margin: 8px 0;
}

section.tour-list img{
    width: 100%;
    object-fit: cover;
}

section.tour-list ul li{
    margin: 16px;
    padding: 8px;
}

.btn-type-1{
    display: inline-block;
    padding: 16px 24px;
    background-color: black;
    color: white;
}

.nav-social{
    display: flex;
}

.nav-social ul{
    display: flex;
    gap: 16px;
}

.tour-list {
        padding: 30px;
}

#contact{
    padding: 20px;  
}
.contact-header{ 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}

.contact-page{ 
    display: flex;
    justify-content: center;
    
    
}
.contact-info i{
    padding: 3px 10px; 
    display: block;
    font-size: 16px;
}

#page footer {
    display: block;
}

.social-media{
    display: flex;
    justify-content: center;
    margin:30px 0px;
}

.social-media i{
    margin-left: 20px;
}


@media screen and (min-width:600px) {
    
    .btn-hamburger{
        display: none;
    }
    .nav-main{
        display: flex;
    }
    #page header{
        display: flex;
    }
    .nav-main ul{
        display: flex;
    }
    .nav-main a{
        width: auto;
    }
    .band-list{
        display: flex;
        justify-content: center;    
    }
    .band-list li{
        padding: 40px;  
    }

    .info p{ 
        text-align: center;
        margin: 0 20%;
    }

    .tour-list ul{
        display: flex;
        justify-content: center;
    }

}